:root {
    --vermelho: #db4c40;
    --amarelo: #f0c987;
    --verde: #89bd9e;
    --roxo: #3c153b;
    --vinho: #8b1e3f;
    --vinhoEscuro: #510014;
}
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
#cabecalho {
    background-color: var(--vinhoEscuro);
    height: 10vh;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 0px 20px;
}
#logo{
    color: var(--amarelo);
    text-transform: uppercase;
    font-weight: bolder;
    font-size: 50px;
    cursor: pointer;
}
#containerPesquisa{
    background-color: #fff;
    width: 30vw;
    height: 40px;
    border-radius: 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0px 0px 0px 10px;
}
#txtPesquisa{
    background-color: transparent;
    border: none;
    width: inherit; 
}
textarea:focus, input:focus, select:focus {
    box-shadow: 0 0 0 0;
    border: 0 none;
    outline: 0;
}
#btnPesquisa{
    height: 40px;
    background-color: var(--amarelo);
    border: none;
    border-radius: 20px;
    width: 15vw;
    cursor: pointer;
    font-weight: bolder;
    font-size: 15px;
}
.btnFav, .btnAss {
    height: 40px;
    background-color: var(--amarelo);
    border: none;
    border-radius: 20px;
    width: 7vw;
    cursor: pointer;
}
#conteudoLista {
    width: 100%;
    min-height: 90vh;
    border: none;
    background-color: var(--vinho);
    width: inherit;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    padding: 20px;
}